<p>news-dash works!</p>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <app-news-search *ngIf="true"></app-news-search>

    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
      <app-news-stats *ngIf="true"></app-news-stats>

    </div>
  </div>
</div>


<div class="h2" >Training</div>

<div class ="container">first div</div>
<div class ="container-fluid">second  div</div>
<div class ="container bg-primary">first div</div>
<div class ="container-fluid bg-warning">first div</div>

<div class ="container">
    <div class="row">
      <div class="col">col 2</div>
    </div>
</div>



