<div class="container-fluid" style="margin-top:20px">
  <div id="logo" class="pull-left">
    <a [routerLink]="['/']"> <img class ="img"  style="margin-bottom: 20px" src="assets/img/screen/NEWS.gif" alt="Home" title="Home" /></a>
  </div>

  <nav id="nav-menu-container">
      <ul class="nav-menu">
          <li class="menu-active"><a [routerLink]="['/']">Home</a></li>
          <li><a [routerLink]="['stats']">Stats</a></li>
          <li><a [routerLink]="['underConstruction']">Popular Words</a></li>
          <li><a [routerLink]="['search']">Search</a></li>

          <li class="menu-has-children"><a href="">Select View</a>
              <ul>
                  <li><a [routerLink]="['/']">Home</a></li>
                  <li><a [routerLink]="['stats']">Sats</a></li>
              </ul>
          </li>
      </ul>
  </nav><!-- #nav-menu-container -->
</div>
