<div class="container" style="margin-top:20px">
  <div id="logo" class="pull-left">
    <a class="img" href="index.html"><img  style="margin-top: 20px" src="assets/img/screen/NEWS.gif" alt="" title=""> </a>
  </div>

  <nav id="nav-menu-container">
      <ul class="nav-menu">
          <li class="menu-active"><a href="/">Home</a></li>
          <li><a href="latest">Latest</a></li>
          <li><a href="underConstruction">Popular Words</a></li>
          <li><a href="/search">Search</a></li>

          <li class="menu-has-children"><a href="">Select View</a>
              <ul>
                  <li><a href="news/stats">Stats</a></li>
                  <li><a href="latest">Latest News</a></li>
                  <li><a href="news/Stocks">Stocks</a></li>
                  <li><a href="news/Market">Market</a></li>
              </ul>
          </li>
      </ul>
  </nav><!-- #nav-menu-container -->
</div>
  <!--
<p>news-nav works!</p>
<div class="container">
  <div id="logo" class="pull-left">
      <h1><a href="index.html"><span>N</span>ews Search</a></h1>
      <a href="index.html"><img src="assets/img/album/1 (1).jpg" alt="" title="" />
  </div>

  <nav id="nav-menu-container">
      <ul class="nav-menu">
          <li class="menu-active"><a href="index.html">Home</a></li>
          <li><a href="#album">Albums</a></li>
          <li><a href="#features">Featured</a></li>
          <li><a href="#screenshots">Search</a></li>

          <li class="menu-has-children"><a href="">Select View</a>
              <ul>
                  <li><a href="#">Detsils</a></li>
                  <li><a href="#">Thumbnails</a></li>
                  <li><a href="#">Full View</a></li>
                  <li><a href="#">SlideShow</a></li>
              </ul>
          </li>
      </ul>
  </nav>
</div>
-->
