<h1>News Search</h1>
<!--
<div>
  <input type="checkbox" id="heroes" [unchecked]="showHeroes" (click)="toggleHeroes()">
  <label for="heroes">Heroes</label>

  <input type="checkbox" id="config" [unchecked]="showConfig" (click)="toggleConfig()">
  <label for="config">Config</label>

  <input type="checkbox" id="downloader" [unchecked]="showDownloader" (click)="toggleDownloader()">
  <label for="downloader">Downloader</label>

  <input type="checkbox" id="uploader" [unchecked]="showUploader" (click)="toggleUploader()">
  <label for="uploader">Uploader</label>
  <input type="checkbox" id="search" [checked]="showSearch" (click)="toggleSearch()">
  <label for="search">News Term</label>
</div>
-->
<!--
<app-heroes *ngIf="showHeroes"></app-heroes>
<app-messages></app-messages>
<app-config *ngIf="showConfig"></app-config>
<app-downloader *ngIf="showDownloader"></app-downloader>
<app-uploader *ngIf="showUploader"></app-uploader>


<div  *ngIf="false" id="serviceBox">
  <div class="serviceBox">
    <h2> Search 1 </h2>
    <app-news-search *ngIf="showSearch"></app-news-search>
 </div>
   <div class="serviceBox">
    <h2>Heading 2</h2>
       <p> Information</p>
  </div>
 <div class="serviceBox">
    <h2>Heading 3</h2>
       <p>Information</p>
  </div>
 <div class="serviceBox">
    <h2>Heading 4</h2>
       <p>Information</p>
  </div>
</div>
-->
<app-news-nav></app-news-nav>
<app-news-dash></app-news-dash>
<app-my-spinner>here</app-my-spinner>

