/* Global Styles */


h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #333;
  font-family: Cambria, Georgia;
}
a {
  cursor: pointer;
  cursor: hand;
}
button {
  font-family: Arial;
  background-color: #eee;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

/* Navigation link styles */
nav a {
  padding: 5px 10px;
  text-decoration: none;
  margin-right: 10px;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
nav a:visited, a:link {
  color: #607D8B;
}
nav a:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
nav a.active {
  color: #039be5;
}

/* everywhere else */
* {
  font-family: Arial, Helvetica, sans-serif;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.searchstyle2 {
  display: inline;
  display: inline-block;
  border: 1px solid red;
  margin:0px;
  color: red;
  font-style: unset;
}

.myinline {
  display: inline-block;
}




#serviceBox
{
    width:100%;
	margin: 0 auto;
	margin-top:75px;
	height:250px;
    border:1px solid black;
}
.serviceBox{
    margin-right:4%;
	float:left;
	width:20%;
	height: 250px;
	background-color: white;
	border: 1px solid #bdbdbd;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	-moz-box-shadow: 0 0 10px #bdbdbd;
	-webkit-box-shadow: 0 0 10px #bdbdbd;
	box-shadow: 0 0 10px #bdbdbd;
    box-sizing:border-box;
}

.serviceBox:first-child { margin-left: 3% }



img {
  max-width:20%;
  height:auto;
}



.outline {
  color:red;
}

div:hoverr {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}


*.focusss {
  outline-width: 1px;
  outline-style: dashed;
  outline-color: red;
}
