.searchstyle3{
  color: brown;
}


.my-static-div ::ng-deep .searchstyle2
{ color: red;
}

.inline {
  display: inline-block;
}

#bloc1, #bloc2
{
    display:inline;
}

.source-info {
    display: inline;
    margin-left: 8px;
    vertical-align: middle;
    color: #073817;
    font-size: 0.75em;
}
